<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de atención PreHospitalaria</title>
</head>
<body>
    <div class="container">
        <h2 class="mb-3">HISTORIA CLINICA </h2>

        <div class="m-5">
            <!-- Primer input y botón -->
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Ingrese Cedula del Cliente" id="CI" onkeypress="return solo10Numeros(event)" required>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" onclick="buscarCliente2()"><i class="bi bi-search"></i></button>
                </div>
            </div>

            <div>
                <!-- Segundos y terceros inputs -->
                
                <label for="getnombreCliente">Cliente</label>
                <input type="text" class="form-control" id="cedCliente" readonly style="color: red">

                
                    <label for="">Mascota</label>
                    <select  class="form-control" id="verificarraza">
                        <option value="">Seleccione</option>
                        <option value="Labrador">Labrador</option>
                        <option value="Bulldog">Bulldog</option>
                        <option value="Mestizo">Mestizo</option>
                        <option value="Chihuahua">Chihuahua</option>
                        <option value="French">French</option>
                        <option value="Golden Retriever">Golden Retriever</option>
                        <option value="Pitbull">Pitbull</option>
                    </select>
                
            </div>

        </div>

        <!-- Botones que ocupan toda la pantalla -->
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary btn-lg btn-block" onclick="mostrarFormulario('formulario1')">DATOS DEL CLIENTE</button>
            </div>
        </div>

        <div class="row mt-2" id="formularioContainer1" style="display: none;">
            <div class="row col-md-8" style="margin-left: 20%;margin-top: 2%;font-family: 'Young Serif', sans-serif; ">


                <div class="form-group col-md-6">
                    <label for="nombreCliente">Nombres</label>
                    <input type="text"  style="color: blue;font-size: 14px;" id="nombreCliente" class="form-control" placeholder="Ingrese nombres del cliente" />
                </div>

                <div class="form-group col-md-6">
                    <label for="dirCliente">Dirección</label>
                    <input type="text"  style="color: blue;font-size: 14px;" id="dirCliente" class="form-control" placeholder="Ingrese dirección del cliente" />
                </div>

                <div class="form-group col-md-6">
                    <label for="correoCliente">Correo</label>
                    <input type="text"  onkeypress="return validarCorreoElectronico(event)" style="color: blue;font-size: 14px;" id="correoCliente" class="form-control" placeholder="Ingrese correo del cliente" required />
                </div>

                <div class="form-group col-md-6">
                    <label for="telefono">Teléfono</label>
                    <input type="text"  onkeypress="return solo10Numeros(event)" style="color: blue;font-size: 14px;" id="telefono" class="form-control" placeholder="Ingrese teléfono del cliente" />
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="mostrarFormulario('formulario2')">DATOS MASCOTA</button>
            </div>
        </div>

        <div class="row mt-2" id="formularioContainer2" style="display: none;">


            <div class="form-row" style="margin-left: 12%;margin-top: 2%;font-family: 'Young Serif', sans-serif; ">

                    <div class="form-group col-md-6">
                        <label for="">Nombre</label>
                        <input type="text"  style="color: blue;font-size: 16px;" class="form-control" id="editNombre" placeholder="Ingrese Nombre Mascota">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Dueño</label>
                        <input id="editdueño2" type="text" class="form-control mb-3"  style="width:100%!important; color: red">
                    </div>

                 
            
                
                    <div class="form-group col-md-6">
                        <label for="">Peso</label>
                        <input type="text"  style="color: blue;font-size: 16px;" class="form-control" id="editPeso" placeholder="Ingrese Peso Mascota" onkeypress="return soloNumeros(event)" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Raza</label>
                        <select  class="form-control" id="editRaza" style="color: blue;font-size: 16px;" required>
                            <option value="">Seleccione</option>
                            <option value="Labrador">Labrador</option>
                            <option value="Bulldog">Bulldog</option>
                            <option value="Mestizo">Mestizo</option>
                            <option value="Chihuahua">Chihuahua</option>
                            <option value="French">French</option>
                            <option value="Golden Retriever">Golden Retriever</option>
                            <option value="Pitbull">Pitbull</option>
                        </select>
                    </div>
               
                
                    <div class="form-group col-md-6">
                        <label for="">Sexo</label>
                        <select  class="form-control" id="editSexo" style="color: blue;font-size: 16px;" required>
                            <option value="">Seleccione</option>
                            <option value="Macho">Macho</option>
                            <option value="Hembra">Hembra</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="">Fecha de Nacimiento</label>
                        <input style="color: blue;font-size: 16px;" class="form-control" id="editFecha2"  name="fechaNacimiento" style="width: 89%;" max="2024-12-31" type="date">
                    </div>
               

            </div>

        </div>

        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success btn-lg btn-block" onclick="mostrarFormulario('formulario3')">FICHAS CONSULTAS</button>
            </div>
        </div>

        <div class="row mt-2" id="formularioContainer3" style="display: none;font-family: 'Young Serif', sans-serif;">

            <div class="card text-center mt-5">
                <div class="card-header">
                    Fichas Control
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>

        

            <div class="card text-center mt-5">
                <div class="card-header">
                    Fichas Hemoparasitosis
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
            

        </div>
    </div>

    <script>
        function mostrarFormulario(formulario) {
            var container = $('#formularioContainer' + formulario.charAt(formulario.length - 1));

            // Toggle la visibilidad del formulario
            container.slideToggle();
        }
    </script>
</body>
</html>