<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.css" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap.css" />
<link rel="stylesheet" href="~/Content/Site.css" />



<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />




@model VET_ANIMAL.WEB.Models.CargaMasivaViewModel
@{
    ViewData["Title"] = "CARGA MASIVA";
}

<div class="row" style="font-size: 13px !important;">
    <div class="col-md-12">
        <div class="widget">
            <header class="widget-header" style="padding-bottom: 5px !important;">
                <div class="row">
                    <h4 class="widget-title col-md-12" style="font-weight:400 !important;font-size: 30px; color:black; font-family: 'Young Serif', sans-serif; ">CARGA MASIVA</h4>
                </div>
            </header>
            <hr class="widget-separator" style="margin-top:2px !important">
            <div class="widget-body">
                @if (Model != null && Model.numeroClientes.HasValue)
                {
                    <h2>Número de Clientes</h2>
                    <p>El número actual de clientes es: @Model.numeroClientes.Value</p>
                }
                else
                {
                    <p>No se pudo obtener la información de clientes.</p>
                }

                <div class="btn-group" role="group" aria-label="Basic mixed styles example" style="margin-bottom:5px !important;">
                    <button title="Editar Mascota" class="btn p-v-sm btn-info btn-sm btn-editar" data-bs-toggle="modal" data-bs-target="#masivo">
                        <i class="bi bi-arrow-bar-up"></i>
                    </button>
                </div>
               
            </div>
        </div>
    </div>
</div>
<!-- Modal cARAGA MASIVA-->
<div class="modal fade" id="masivo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content " style="width:100%">
            <div class="modal-header TMSHeaderModal" style="background: #DAE8FD">
                <h5 class="modal-title" style="font-family: 'Young Serif', sans-serif; font-weight: bold;">SINCRONNIZACION</h5>
                <div class="d-flex align-items-end flex-column">
                    <button type="button" style="color: black" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
            </div>
            <div class="col-md-4 float-left container-fluid h-custom" style="margin-top: 15%; margin-left: 5%; position:absolute">
            </div>

            <form asp-action="GuardaryEditarInfo">

                <div class="row col-md-8" style="margin-left: 40%;margin-top: 2%;font-family: 'Young Serif', sans-serif; ">


                    <div class="form-group col-md-12">
                        <label for="nombreCliente">Nombres</label>
                        <input type="file" style="color: blue;font-size: 14px;" id="excelCM" accept=".xls, .xlsx" class="form-control" placeholder="Ingrese nombres del cliente" />
                    </div>





                </div>
                <div class="modal-footer" style="background: #DAE8FD">
                    <button id="guardarInformacion" type="button" onclick="uploadFile()" class="btn btn-success btn-grad btn-sm">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Content/jquery-2.2.4.js"></script>
    <script src="~/Content/bootstrap.js"></script>
    <script src="~/Content/modernizr-2.8.3.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">

        
        function uploadFile() {
            // Obtener el elemento de entrada de archivo
            const fileInput = document.getElementById('excelCM');
            // Obtener el archivo seleccionado
            const file = fileInput.files[0];
            console.log(file)
            // Verificar si se seleccionó un archivo
            if (file) {
                // Crear un objeto FormData y agregar el archivo
                const formData = new FormData();
                formData.append('Excel', file);

                // Configurar la solicitud Fetch
                fetch('Upload', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                    })
                    .catch(error => {
                        console.error('Error al enviar el archivo:', error);
                    });
            } else {
                alert('Por favor, selecciona un archivo antes de subirlo.');
            }
        }

        

        
        

        
       
    </script>



}
